<?xml version="1.0"?>
<configuration>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8.1" />
      </system.Web>
  -->
  <system.web>
    <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.8.1"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
    <httpRuntime requestValidationMode="2.0" maxRequestLength="1048576"/>
  </system.web>
  <appSettings>
	
	  <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
    <add key="SMTPSender" value="vesc267@gmail.com"/>
    <add key="SMTPSenderPassword" value="xegcxkvqtydmieus"/>
    <!--Contact Form Data-->
    <add key="ContactUsEmailReceivers" value="contact@vsec.in, aksanasir039@gmail.com,rkspriyapatel@gmail.com"/>
    <!--Career Form Mail-->
    <add key="CareerEmailReceivers" value="vsec.jobs@gmail.com, aksanasir039@gmail.com,rkspriyapatel@gmail.com"/>
    <!--Alumni Form Mail-->
    <add key="AlumniEmailReceivers" value="vsec267@gmail.com, aksanasir039@gmail.com,rkspriyapatel@gmail.com"/>
  </appSettings>
  <connectionStrings>
	  <!--<add name="myconnection" connectionString="Data Source=DESKTOP-M1FR5AT\SA; Initial Catalog=virendraswaroop; User ID=sa; Password=tmt_123; Integrated Security=True" providerName="System.Data.SqlClient"/>-->


	 <add name="myconnection" connectionString="Data Source=103.21.58.78;Initial Catalog=vsec_db;User ID=vsec_db;Password=I32vr?21k;Min Pool Size=10; Max Pool Size=1000" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>